{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static %}
{% load utils %}
{% load widget_tweaks %}

{% block functions %}
  <a class="header__element" href="update/">Изменить</a>
  <a class="header__element" href="delete/">Удалить</a>
{% endblock functions %}


{% block content %}
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="mb-4">{% get_verbose_name object %}</h3>
      <table class="table mb-4">
        <tbody>
          {% for f, v in object.get_fields_and_values %}
          <tr>
            <th>
              {{ f.verbose_name }}
            </th>
            <th>
              {{ v }}
            </th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="col-md-5">
      <div class="order-client-map">
        <div id="arc-gis-map"></div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3>Транспортные средства</h3>
        {% for f in transport_full %}
          <div class="card mb-3" data-pk="{{ f.pk }}">
            <div class="card-header">
              Марка автомобиля: {{ f.transport.mark }}
              <i class="fa fa-trash-o transport_full_delete" aria-hidden="true" style="color:red;float:right;font-size: 24px;cursor:pointer;"></i>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle text-muted mt-2">Водители:</h6>

              <ul class="list-group list-group-flush">
                {% for driver in f.drivers.all %}
                  <li class="list-group-item">
                    {{ driver.surname }}
                    {{ driver.name }}
                    {{ driver.patronymic }}
                  </li>
                {% endfor %}
              </ul>

              <h6 class="card-subtitle text-muted mt-2">Груз:</h6>
              <ul class="list-group list-group-flush">
                {% for g in f.goods_count.all %}
                  <li class="list-group-item">
                    {{ g.goods }}
                    <span class="badge badge-info">
                      {{ g.count }}
                      {{ g.get_measure_display }}
                    </span>
                  </li>
                {% endfor %}
              </ul>

            </div>
            <div class="card-footer">
              <h6 class="goods_count_add mt-2" style="color:green;cursor:pointer;" data-toggle="modal" data-target="#goods_count"><i class="fa fa-plus-square-o" aria-hidden="true"></i> добавить груз</h6>
            </div>
          </div>
        {% endfor %}
        <button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#transport_full">
          Добавить транспортное средство
        </button>
      <a href="../" class="btn btn-secondary btn-lg btn-block  mb-4">Назад</a>
    </div>
  </div>
</div>




<!-- Modal TransportFull -->
<div class="modal fade" id="transport_full" tabindex="-1" role="dialog" aria-labelledby="transport_fullLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="transport_fullLabel">Добавить транспортное средство</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-model" action="" method="POST">
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ TransportFullForm.transport.label }}</label>
                {% render_field TransportFullForm.transport class+="form-control" type="text" %}
              </div>
            </div>
          </div>
          <div class="form-row mb-3">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ TransportFullForm.drivers.label }}</label>
                {% render_field TransportFullForm.drivers class+="form-control" type="text" %}
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button id="transport_full_add" type="button" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal GoodsCount -->
<div class="modal fade" id="goods_count" tabindex="-1" role="dialog" aria-labelledby="goods_countLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="goods_countLabel">Добавить транспортное средство</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-model" action="" method="POST">

          <div class="form-row mb-3">
            <div class="col-md-12">
              <div class="form-group">
                <label>{{ GoodsCountForm.goods.label }}</label>
                {% render_field GoodsCountForm.goods class+="form-control" type="text" %}
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ GoodsCountForm.count.label }}</label>
                {% render_field GoodsCountForm.count class+="form-control" type="text" %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>{{ GoodsCountForm.measure.label }}</label>
                {% render_field GoodsCountForm.measure class+="form-control" type="text" %}
              </div>
            </div>
          </div>


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button id="goods_count_add" type="button" class="btn btn-primary">Добавить</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}


{% block custom_scripts %}
<script>
  $(document).ready(function() {

    var pk_transport_full, pk_order_client = {{ object.pk }};

    $('#transport_full_add').click(function(event) {
      axios.post("/info/api/v1/transport-full/create/", {
        "order_client": pk_order_client,
        "transport": $("#id_transport").val(),
        "drivers": $("#id_drivers").val()
      },
      {
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      })
      .then((response) => {
        location.reload();
      })
      .catch((error) => {
        console.log(error);
      });

    });

    $('.goods_count_add').click(function(event) {
      pk_transport_full = $(this).parent().parent().attr("data-pk");
    });

    $('#goods_count_add').click(function(event) {
      axios.post("/info/api/v1/goods-count/create/", {
        "count": $("#id_count").val(),
        "measure": $("#id_measure").val(),
        "transport_full": pk_transport_full,
        "goods": $("#id_goods").val()
      },
      {
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      })
      .then((response) => {
        console.log(response);
        location.reload();
      })
      .catch((error) => {
        console.log(error);
      });

    });

    $('.transport_full_delete').click(function(event) {

      var pk = $(this).parent().parent().attr("data-pk");

      axios({
        method: 'delete',
        url: '/info/api/v1/transport-full/detail/' + pk,
        headers: {
          "X-CSRFToken": '{{ csrf_token }}'
        }
      })
      .then((response) => {
        location.reload();
      })
      .catch((error) => {
        console.log(error);
      });

    });



    /**
    * MAP
    */
    require([
      "esri/Map",
      "esri/views/MapView",
      "esri/Graphic",
      "esri/layers/GraphicsLayer",
      "esri/tasks/RouteTask",

    ], function(Map, MapView, Graphic, GraphicsLayer, RouteTask) {

    function RenderPoints(layer) {
      axios.get("/info/api/v1/address/all/")
      .then((response) => {
        for (let i = 0; i < response.data.length; i++) {
          const e = response.data[i];
          var text = {
            geometry: {
              type: "point",
              longitude: e.lon,
              latitude: e.lat
            },
            symbol: {
              type: "text",
              color: [25,25,25],
              haloColor: [255,255,255],
              haloSize: "1px",
              text: e.label,
              xoffset: 0,
              yoffset: 12,
              font: {
                size: 10
              }
            }
          };
          var marker = {
            geometry: {
              type: "point",
              longitude: e.lon,
              latitude: e.lat
            },
            symbol: {
              type: "simple-marker",
              color: [226, 119, 40],
              outline: {
                color: [255, 255, 255],
                width: 1
              }
            }
          };
          layer.add(text);
          layer.add(marker);
        };
      })
      .catch((error) => {
        console.log(error);
      });
    };

    var map = new Map({
      basemap: "osm"
    });

    var GraphicsLayer = new GraphicsLayer();
    map.add(GraphicsLayer);


    var view = new MapView({
      container: "arc-gis-map",
      map: map,
      center: [39.72776, 47.23143],// long and lat
      zoom: 12
    });

    RenderPoints(GraphicsLayer);

  });


  })
  </script>
{% endblock custom_scripts %}
