{% extends "layouts/base.html" %}
{% load i18n static %}

{% block head %}
  {% block links %}
  {% endblock links %}
{% endblock head %}

{% block body %}
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Главная</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Заказы</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Справочники
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Организации</a>
              <a class="dropdown-item" href="#">Товары</a>
              <a class="dropdown-item" href="#">Транспорт</a>
              <a class="dropdown-item" href="#">Водители</a>
              <a class="dropdown-item" href="#">Населенные пункты</a>
              <a class="dropdown-item" href="#">Тарифы</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Исполнители юридические лица</a>
              <a class="dropdown-item" href="#">Исполнители физические лица</a>

              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Клиенты юридические лица</a>
              <a class="dropdown-item" href="#">Клиенты физические лица</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="header__functions">
      {% block functions %}
      {% endblock functions %}
    </div>
  </header>
  <main class="main">
    {% block content %}
    {% endblock content %}
  </main>
  <footer class="footer">
    {% block footer %}
    {% endblock footer %}
  </footer>
{% endblock body %}

{% block bottom %}
  {% block scripts %}
  {% endblock scripts %}
{% endblock bottom %}
