{% extends "layouts/base.html" %}
{% load i18n static %}

{% block head %}
  {% block links %}
  {% endblock links %}
{% endblock head %}

{% block body %}
  {% if user.is_authenticated %}
  <header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Главная</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">Заказы</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Справочники
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'info:organization-list' %}">Организации</a>
              <a class="dropdown-item" href="{% url 'info:goods-list' %}">Товары</a>
              <a class="dropdown-item" href="{% url 'info:transport-list' %}">Транспорт</a>
              <a class="dropdown-item" href="{% url 'info:driver-list' %}">Водители</a>
              <a class="dropdown-item" href="{% url 'info:аdres-list' %}">Населенные пункты</a>
              <a class="dropdown-item" href="{% url 'info:tariff-list' %}">Тарифы</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Исполнители
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'info:executor-legal-list' %}">Исполнители юридические лица</a>
              <a class="dropdown-item" href="{% url 'info:executor-person-list' %}">Исполнители физические лица</a>
            </div>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Клиенты
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'info:client-legal-list' %}">Клиенты юридические лица</a>
              <a class="dropdown-item" href="{% url 'info:client-person-list' %}">Клиенты физические лица</a>
            </div>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'accounts:logout' %}">Выход</a>
          </li>

        </ul>
      </div>
    </nav>

    <div class="header__functions">
      {% block functions %}
      {% endblock functions %}
    </div>
  </header>
  {% endif %}

  <main class="main">
    {% block content %}
    {% endblock content %}
  </main>
  <footer class="footer">
    {% block footer %}
    {% endblock footer %}
  </footer>
{% endblock body %}

{% block bottom %}
  {% block scripts %}
  {% endblock scripts %}
{% endblock bottom %}
