{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static %}




{% block functions %}

{% endblock functions %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="display-4">Логистическая компания</h1>
        <p class="lead">Это простой пример блока с компонентом в стиле jumbotron для привлечения дополнительного внимания к содержанию или информации.</p>
        <hr class="my-4">
        <p>Использются служебные классы для типографики и расстояния содержимого в контейнере большего размера.</p>
        <p class="lead">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <div class="btn-group" role="group">
              <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Начать работу
              </button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" href="#">Перейти к заказам</a>
                <a class="dropdown-item" href="#">Рэйтинг</a>
              </div>
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>

</div>
{% endblock content %}


{% block footer %}

{% endblock footer %}
