{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static %}
{% load utils %}

{% block functions %}
  <a class="header__element" href="create/">Добавить</a>
{% endblock functions %}


{% block content %}
<div class="container-fluid">

  <div class="row justify-content-center">
    <div class="col-md-6">
      <form class="form-model" action="" method="POST">
        {% csrf_token %}
        <h3 class="form-model__message mb-4" align="center">
          Вы действительно хотите удалить объект?
        </h3>

        <div class="row">
          <div class="col">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Удалить</button>
          </div>
          <div class="col">
            <a href="../" class="btn btn-secondary btn-lg btn-block">Назад</a>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock content %}


{% block footer %}

{% endblock footer %}
