{% extends settings.TEMPLATE_LAYOUT %}
{% load i18n static %}
{% load utils %}

{% block functions %}
  <a class="header__element" href="create/">Добавить</a>
{% endblock functions %}


{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-md-9">
      {% with object_list|first as object %}
        <h3>{% get_verbose_name_plural object %}</h3>
      {% endwith %}
      <table class="table">
        <thead>
          <tr>
            <th></th>
            {% for i in fields %}
              <th scope="col">{{ i }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for i in object_list %}
            <tr>
              <th>
                <a href="{{ i.pk }}/">Подробнее</a>
              </th>
              {% for f, v in i.get_fields_and_values %}
                <th>
                  {{ v }}
                </th>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}


{% block footer %}

{% endblock footer %}
